<h1>Create a New Listing</h1>

<%= form_for @listing do |f| %>
<h3>Title : </h3>
<p><%= f.text_field :title %></p>
<%= f.submit "Create new listing" %>
<% end %>


<p><%= link_to "Back", listings_path %>