<h1>Profile Page</h1>

<h3>Email : </h3>
<p><%= @user.email %></p>

<h3>Your list of booking:</h3>
<ul><% @user.reservations.each do |r| %>
<li><%= r.listing.title if r.listing %></li>
<% end %>
</ul>

<p><%= link_to "Back", root_path %></p>